/* Style for the header */
header {
    background-color: #333; /* Background color for the header */
    color: white; /* Text color for the header */
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Style for the individual data fields */
  header p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  /* Style for the data values (inside the <span> elements) */
  header span {
    font-weight: bold;
  }
  

  .recent-matches {
    margin-top: 20px;
    text-align: center;
  }
  
  .recent-matches h3 {
    font-size: 24px;
    font-weight: bold;
    color: white; /* Set the text color to white */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #333; /* Set the dark gray/black background */
    color: white; /* Set the text color to white */
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #444; /* Darken the table borders */
  }
  
  th {
    background-color: #555; /* Set the header background color */
  }
  
  tr:hover {
    background-color: #555; /* Set the hover background color */
    cursor: pointer;
  }

  .button-container {
    text-align: right;
    margin-top: 10px;
  }
  
  .green-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
  }
  
  .green-button:hover {
    background-color: darkgreen;
  }